<ion-header [translucent]="true" class="imagenProducto">
  <ion-toolbar>
    <ion-title>
      <ion-button shape="round" (click)="openModal('nuevo',[])">Nuevo Producto</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row >
      <ion-col size="4" *ngFor="let producto of productos">
        <ion-card>
          <img src='http://127.0.0.1:8000/imagenes/{{producto.imagen}}' [hidden]="producto.imagen == null" height="200" style="margin-left: 115px;display: block; margin-left: auto;margin-right: auto;"/>
          <img src='../../assets/imagen.png' [hidden]="producto.imagen != null"  height="200" style="margin-left: 115px;display: block; margin-left: auto;margin-right: auto;"/>
          <ion-card-content>
            <ion-card-title>
              {{producto.nombre}}
            </ion-card-title>
            <p>
              <b>Precio: </b> ${{producto.precio}}
            </p>
            <p>
              <b>Stock: </b>  {{producto.stock}}
            </p>
          </ion-card-content>
          <ion-row no-padding>
            <ion-col text-center>
              <button ion-button clear small color="danger" icon-start (click)="eliminar(producto.id)">
                <ion-icon name="trash"></ion-icon>
                Eliminar
              </button>
            </ion-col>
            <ion-col text-center>
              <button ion-button clear small color="danger" icon-start (click)="openModal('editar',producto)">
                <ion-icon name="create"></ion-icon>
                Editar
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>

      <div style="margin: 8px auto; margin-top: 34px;" [hidden]="this.productos">No hay contenido disponible</div>
    </ion-row>
  </ion-grid>
</ion-content>